$navigation-color: #1B1725;

.navbar-container {
    display: flex;
    justify-content: space-between;
    z-index: 3;
    background-color: #17B890;
    top: 0;
    position: fixed;
    width: 100%;
    transition: top 0.5s;
    

    h1.site-name {
        margin-left: 1rem;
        color: #fff;
    }

    #burger-container {
        z-index: 6;
        /* position: fixed;
        right: 0; */
    }

    #link-container {
        background-color: $navigation-color;
        position: absolute;
        width: 100vw;
        height: 100vh;
        z-index: 5;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow-y: hidden;
        
        
            #links {
                width: auto;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                font-size: x-large;

                .nav-link-container {
                    
                    margin-top: 1rem;

                    a {
                        color: whitesmoke;
                        text-decoration: none;
                    }
                }
            }

            
    }
}
/* navbar colors depending on location */

.navbar-container.about {
    background-color: #FCE208;
}
.navbar-container.courses {
    background-color: #205CE9;
}
.navbar-container.team{
    background-color: #B41825;
}
.navbar-container.contact {
    background-color: #9542E3;
}
