$team-main-color: #B41825;
$team-highlight-color: #FADBDE;

.team-main-container {
    margin-top: 11vh;
    padding: 0;
    z-index: 0;

    #big-yellow-circle {
        width: auto;
        height: auto;
        position: absolute;
        left: -20%;
        top: -25%;
        z-index: 2;

        #css-circle-yellow {
            position: relative;
            opacity: 0.3;
        }
    }

    .highlighted-member {
        background-color: $team-highlight-color;
        padding: 1rem 3rem 1rem 3rem;
        position: relative;
        z-index: 1;

        h3 {
            position: relative;
            z-index: 3;
        }

        p {
            position: relative;
            z-index: 3;
        }

        #kira {
            position: relative;
            z-index: 3;
        }
    }

    .plain-member {
        background-color: #fff;
        padding: 1rem 3rem 1rem 3rem;
        height: auto;
        
        #nikita {
            box-shadow: 0.5rem 0.2rem 0rem #9542e380;
        }
        #viktor {
            box-shadow: 0.5rem 0.2rem 0rem #9542e380;
        }
    }
    
    .portrait {
        border-radius: 50%;
        width: 10rem;
        height: 10rem;
    }
}